:root {
  --primary: #c2b280;
  --secondary: #44a7c4;
}

* {
  margin: 0;
  padding: 0;
}
.beach-container {
  display: flex;
  width: 100%;
  height:100%;
  justify-content: center;
  align-items: center; 
}
.beach-container h2 {
position: absolute;
display: flex;
z-index: 1;
font-family: 'Lobster', cursive;
font-size: 2em;
color: #fff;
text-shadow: 2px 2px black;
max-width: 500px;
text-align: center;
}
.beach {
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  font-size: 1.25em;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  top: 0;
  position: sticky;
  z-index: 1;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  display: block;
  cursor: pointer;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 2.6em;
  top: 0;
}
.topnav a.cart {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #fff;
  cursor: pointer;
}
.topnav .cart-counter {
  width: 1rem;
  height: 1rem;
  background: red;
  display: flex;
  position: absolute;
  right: 10px;
  top: 26px;
  font-size: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--secondary);
  color: white;
}

.courses {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  margin-bottom: 70px;
}

.course {
  position: relative;
  width: 30rem;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid var(--primary);
}

img {
  width: 30rem;
  height: 15rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 15rem;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  border: 10px solid var(--primary);
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay:hover .image_description {
  opacity: 1;
}
.overlay:hover .image_Title {
  opacity: 1;
  background-color: none;
}
.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.overlay:hover > * {
  transform: translateY(0);
}
.overlay:hover .add-btn {
  opacity: 1;
}
.overlay:hover .third-section {
  opacity: 1;
}
.image-Title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px black;
}
.image_description {
  font-size: 0.75em;
  opacity: 0;
  text-align: center;
  width: 75%;
}
.third-section {
  opacity: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.length-price {
  font-size: 0.75em;
  font-style: italic;
}
.add-btn {
  width: 4em;
  height: 1.75em;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 1em;
  opacity: 0;
  cursor: pointer;
}
.add-btn:hover {
  background-color: rgb(87, 231, 87);
}

@media (min-width: 1000px) {
  .course {
    width: 35rem;
    height: 20rem;
  }

  img {
    width: 35rem;
    height: 20rem;
  }

  .overlay {
    width: 35rem;
    height: 20rem;
  }
  .courses {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
  }

  .add-btn {
    font-size: 1.5em;
    width: 5em;
    height: 2.5em;
  }
  
}
@media (min-width: 1200px) {
  .course {
    width: 45rem;
    height: 25rem;
  }

  img {
    width: 45rem;
    height: 25rem;
  }

  .overlay {
    width: 45rem;
    height: 25rem;
  }
  .add-btn {
    font-size: 2em;
    width: 6em;
    height: 3em;
    margin-top: 15%;
  }
  .course .overlay .third-section .length-price {
    font-size: 1.5em;
  }
}
@media (min-width: 1550px) {
  .course {
    width: 55rem;
    height: 35rem;
    font-size: 2em;
  }
  .course .overlay .image-Title {
    font-size: 2.5em;
  }
  
  img {
    width: 55rem;
    height: 35rem;
  }

  .overlay {
    width: 55rem;
    height: 35rem;
  }
}
@media (min-width: 520px){
  .beach-container h2 {
    font-size: 4em;
  }
 .add-btn {
    font-size: 1.25em;
    width: 5em;
    height: 2.5em;
  }
  .course .overlay .third-section .length-price {
    font-size: 1.5em;
  }
  
}
@media (max-width: 520px){
  .course {
    width: 22rem;
    height: 13rem;
  }

  img {
    width: 22rem;
    height: 13rem;
  }

  .overlay {
    width: 22rem;
    height: 13rem;
  }
  .footer {
    font-size: 1.25rem;
  }
  .add-btn {
    font-size: 1.25rem;
    width: 5em;
    height: 1.5em;
  }
  .new-course {
    width: 90%;
    height: 90%
  }
  .length-price {
  font-size: 1rem;
}
  
}
@media (max-width: 375px) {
  .course {
    width: 18rem;
    height: 11rem;
  }

  img {
     width: 18rem;
    height: 11rem;
  }

  .overlay {
     width: 18rem;
    height: 11rem;
  }
  .footer {
    font-size: 1rem;
  }
  
}
.footer {
  background-color: var(--secondary);
  color: white;
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Rowdies", cursive;
}

#shopping-menu {
  margin-top: 5px;
  position: sticky;
  margin-left: auto;
  margin-right: 5px;
  top: 60px;
  width: 45vw;
  min-width: 350px;
  height: auto;
  background-color: #fff;;
  padding: .75rem;
  border-radius: .3rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0.1);
  display: none;
  flex-direction: column;
  z-index: 1;
}

ul {
  list-style:none;
}

.shopping-head {
text-align: right;
display: flex;
flex-direction: row;
justify-content: right;
}
.shopping-confirm {
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

#shopping-menu button {
  width: 10em;
  height: 2.5em;
  color: #fff;
  background-color: lightgreen;
  border: none;
  font-size: 1.1em;
  text-shadow: 1px 1px black;
  border-radius: 12px;  
}

#shopping-menu button:hover {
  background-color: rgb(87, 231, 87);
  border: 1px solid black;
  cursor: pointer;
}

.value-color {
  color: rgb(61, 185, 226);
}
#shopping-cart-list li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 75%;
  
}
#shopping-cart-list li a i{
display:flex;
justify-content: center;
text-align: center;
cursor: pointer;
}

#shopping-cart-list li a i:hover {
font-size: larger;
}

#shopping-cart-list li img {
  width: 25%;
  height: 25%;
  
}
#shopping-cart-list li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
}

#shopping-cart-list #empty {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
/*Här är modalen för att lägga till en ny kurs*/
.modal-new {
  position:fixed;
  padding: 3px;
  top:0;
  left:0;
  width:100%;
  height: 110vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1;
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.modal-new h2 {
  border-bottom: 2px solid var(--secondary);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: auto;
  height: auto;
  font-size: 1rem;
}

.new-course {
  position: relative;
  background-color: #fff;
  max-width: 500px;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  
}
.modal-new .close {
  position: absolute;
  top:7px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
  
  
}
.modal-new .close:hover {
  color: red;
}

.modal-new button {
  cursor: pointer;
  margin-top: 1rem;
  background-color: lightgreen;
  border: none;
  color: #fff;
  font-size: 1.1em;
  text-shadow: 1px 1px black;
  border-radius: 12px;  
}
.modal-new button:hover {
  background-color: rgb(87, 231, 87);
  border: 1px solid black;
  cursor: pointer;
}

.confirm-purchase {
 position:fixed;
  padding: 3px;
  top:0;
  left:0;
  width:100%;
  height: 110vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1;
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}
.confirm-purchase .box {
  position: relative;
  background-color: #fff;
  max-width: 500px;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}

.confirm-purchase .box p {
  border-bottom: 2px solid var(--secondary);
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.confirm-purchase .box button {
  width: 7em;
  height: 2em;
  color: #fff;
  background-color: lightgreen;
  border: none;
  font-size: 1.1em;
  text-shadow: 1px 1px black;
  border-radius: 12px;  
  margin-top: 15px
}

.confirm-purchase .box button:hover {
  background-color: rgb(87, 231, 87);
  border: 1px solid black;
  cursor: pointer;
}