:root {
  --primary: #C2B280;
  --secondary: #44A7C4;
}

* {
  margin:0;
  padding:0;
}

.beach {
    width: 100%;
    height: 50%;
    position: relative;
}

img {
  height: 20%;
  width: 60%;
  border-radius: 50%;
  margin: 0 auto 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  var(--primary);
  font-size: 1.5em;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  top:0;
  position: sticky;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  top: 0;
  right: 2.20em;
}
.topnav a.cart {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #fff;
  
}
.topnav .cart-counter {
  width: 1rem;
  height: 1rem;
  background: red;
  display: flex;
  position: absolute;
  right: 10px;
  top: 26px;
  font-size: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--secondary);
  color: white;
}

.about {
    padding: 10px;
    margin: 0 auto 0;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 95%;
    text-align: center;
    justify-content: center;
    position: relative;
    color:#fff;
    text-shadow: 2px 2px #000;
    border-radius: 5px;
    z-index: -1;
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
}

.streck {
  width: 100%;
  height: 5px;
background-color: var(--secondary);

}

.footer {
  background-color: var(--secondary);
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  font-size: 1,5rem;
  text-align: center;
  margin-top: 10%;
 font-family: 'Rowdies', cursive;
}

@media (min-width: 600px) {
  img {
    width: 325px;
    height: 200px;
  }
}


#shopping-menu {
  margin-top: 5px;
  position: sticky;
  margin-left: auto;
  margin-right: 5px;
  top: 60px;
  width: 30vw;
  height: 24vh;
  background-color: #fff;;
  padding: .75rem;
  border-radius: .3rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0.1);
  display: none;
  flex-direction: column;
}

ul {
  list-style:none;
}

.shopping-head {
text-align: right;
display: flex;
flex-direction: row;
justify-content: right;
}
.shopping-confirm {
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

#shopping-menu button {
  width: 14em;
  height: 2.5em;
  color: #fff;
  background-color: lightgreen;
  border: none;
  font-size: 1em;
  
}
#shopping-menu button:hover {
  background-color: rgb(0, 255, 0);
  border: 1px solid black;
}

.value-color {
  color: rgb(61, 185, 226);
}